<h1>We kunnen de gebruiker niet vinden</h1>
<h2>heb je nog geen account? Maak er dan eerst een aan</h2>

<div id="knoppena">
<a href="/register">account aanmaken</a>
</div>

<h3>Wel al een account? Dan is er iets fout gegaan, probeer het opnieuw</h3>

<div id="knoppena">
<a href="/login">opnieuw proberen</a>
</div>
