<h1>Login Pagina</h1>   
    <div class="login">    
    <form id="login" method="post" action="/home">    
       <div>
           <label for="gebruikersnaam">gebruikersnaam</label> 
           <input type="text" id="gebruikersnaam" required>
       </div>
       <br>
       <div>
           <label for="wachtwoord">wachtwoord</label> 
           <input type="password" id="wachtwoord" required>
       </div>
       <br>
       <button id="log" formaction="about" type="submit">Login</button>
    </form>     
    </div>  