<h1>Login Pagina</h1>   
    <div class="login">    
    <form id="login" method="post" action="/login">    
       <div>
           <label for="gebruikersnaam">gebruikersnaam</label> 
           <input name="gebruikersnaam" type="text" id="gebruikersnaam" required>
       </div>
       <br>
       <div>
           <label for="wachtwoord">wachtwoord</label> 
           <input name="wachtwoord" type="password" id="wachtwoord" required>
       </div>
       <br>
       <button id="log" type="submit">Login</button>
        <br>
       <a href="/register">toch registreren?</a>
    </form>     
    </div>  