body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#BFA3A3;  
    font-family: 'Arial';  
}  
.login, .register, #knoppen{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #EFEBEA;  
        border-radius: 15px ;     
}  

h1, h2, h3{  
    text-align: center;  
    color: #EFEBEA;  
    padding: 20px;  
}  
label{  
    color: #CFA2A3;  
    font-size: 17px;  
}  
#gebruikersnaam, #email, #wachtwoord{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
} 
 
#log, #reg{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: #EFEBEA;  
    background-color: #CFA2A3;
}  

#log:hover{ 
    color: #EFEBEA;  
    background-color: #BFA3A3;
    cursor: pointer;
}

#reg:hover{ 
    color: #EFEBEA;  
    background-color: #BFA3A3;
    cursor: pointer;
}
 
#knoppena{
text-align: center;
margin: auto;
width: 100%;
padding: 1px;
padding-right: 20px;
}

#knoppen{
    text-align: center;
}

a{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: #EFEBEA;  
    background-color: #CFA2A3;
    display: inline-block;
    text-decoration: none;
}  

a:hover{  
    color: #EFEBEA;  
    background-color: #BFA3A3;
    cursor: pointer;
}  

p{
    text-align: center;  
    color: #EFEBEA;  
    padding: 20px;
}