body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#BFA3A3;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #EFEBEA;  
        border-radius: 15px ;  
          
}  
h1{  
    text-align: center;  
    color: #EFEBEA;  
    padding: 20px;  
}  
label{  
    color: #CFA2A3;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: #EFEBEA;  
    background-color: #CFA2A3;
}  

#log:hover{ 
    color: #EFEBEA;  
    background-color: #BFA3A3;
    cursor: pointer;
}

span{   
    font-size: 17px;  
}  
a{  
    float: left;  
}  

p{
    text-align: center;  
    color: #EFEBEA;  
    padding: 20px;
}